{% extends '/base.html.twig' %}

{% block body %}
    <h2 class="title">A Propos</h2>
    <div id="aPropos"><p>Hinc ille commotus ut iniusta perferens et indigna praefecti custodiam protectoribus mandaverat fidis. quo
            conperto Montius tunc quaestor acer quidem sed ad lenitatem propensior, consulens in commune advocatos
            palatinarum primos scholarum adlocutus est mollius docens nec decere haec fieri nec prodesse addensque vocis
            obiurgatorio sonu quod si id placeret, post statuas Constantii deiectas super adimenda vita praefecto
            conveniet
            securius cogitari.</p>

        <p> Ergo ego senator inimicus, si ita vultis, homini, amicus esse, sicut semper fui, rei publicae debeo. Quid?
            si
            ipsas inimicitias, depono rei publicae causa, quis me tandem iure reprehendet, praesertim cum ego omnium
            meorum
            consiliorum atque factorum exempla semper ex summorum hominum consiliis atque factis mihi censuerim
            petenda.</p>

        <p> Exsistit autem hoc loco quaedam quaestio subdifficilis, num quando amici novi, digni amicitia, veteribus
            sint
            anteponendi, ut equis vetulis teneros anteponere solemus. Indigna homine dubitatio! Non enim debent esse
            amicitiarum sicut aliarum rerum satietates; veterrima quaeque, ut ea vina, quae vetustatem ferunt, esse
            debet
            suavissima; verumque illud est, quod dicitur, multos modios salis simul edendos esse, ut amicitiae munus</p>
        expletum sit.

        <p> Adolescebat autem obstinatum propositum erga haec et similia multa scrutanda, stimulos admovente regina,
            quae
            abrupte mariti fortunas trudebat in exitium praeceps, cum eum potius lenitate feminea ad veritatis
            humanitatisque viam reducere utilia suadendo deberet, ut in Gordianorum actibus factitasse Maximini
            truculenti </p>
        illius imperatoris rettulimus coniugem.

        <p> Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia, applicatione magis animi cum
            quodam
            sensu amandi quam cogitatione quantum illa res utilitatis esset habitura. Quod quidem quale sit, etiam in
            bestiis quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus et ab eis ita amantur ut
            facile earum sensus appareat. Quod in homine multo est evidentius, primum ex ea caritate quae est inter
            natos et
            parentes, quae dirimi nisi detestabili scelere non potest; deinde cum similis sensus exstitit amoris, si
            aliquem
            nacti sumus cuius cum moribus et natura congruamus, quod in eo quasi lumen aliquod probitatis et
            virtutis </p>
        perspicere videamur.
    <p>Hinc ille commotus ut iniusta perferens et indigna praefecti custodiam protectoribus mandaverat fidis. quo
        conperto Montius tunc quaestor acer quidem sed ad lenitatem propensior, consulens in commune advocatos
        palatinarum primos scholarum adlocutus est mollius docens nec decere haec fieri nec prodesse addensque vocis
        obiurgatorio sonu quod si id placeret, post statuas Constantii deiectas super adimenda vita praefecto
        conveniet
        securius cogitari.</p>

    <p> Ergo ego senator inimicus, si ita vultis, homini, amicus esse, sicut semper fui, rei publicae debeo. Quid?
        si
        ipsas inimicitias, depono rei publicae causa, quis me tandem iure reprehendet, praesertim cum ego omnium
        meorum
        consiliorum atque factorum exempla semper ex summorum hominum consiliis atque factis mihi censuerim
        petenda.</p>

    <p> Exsistit autem hoc loco quaedam quaestio subdifficilis, num quando amici novi, digni amicitia, veteribus
        sint
        anteponendi, ut equis vetulis teneros anteponere solemus. Indigna homine dubitatio! Non enim debent esse
        amicitiarum sicut aliarum rerum satietates; veterrima quaeque, ut ea vina, quae vetustatem ferunt, esse
        debet
        suavissima; verumque illud est, quod dicitur, multos modios salis simul edendos esse, ut amicitiae munus</p>
    expletum sit.

    <p> Adolescebat autem obstinatum propositum erga haec et similia multa scrutanda, stimulos admovente regina,
        quae
        abrupte mariti fortunas trudebat in exitium praeceps, cum eum potius lenitate feminea ad veritatis
        humanitatisque viam reducere utilia suadendo deberet, ut in Gordianorum actibus factitasse Maximini
        truculenti </p>
    illius imperatoris rettulimus coniugem.

    <p> Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia, applicatione magis animi cum
        quodam
        sensu amandi quam cogitatione quantum illa res utilitatis esset habitura. Quod quidem quale sit, etiam in
        bestiis quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus et ab eis ita amantur ut
        facile earum sensus appareat. Quod in homine multo est evidentius, primum ex ea caritate quae est inter
        natos et
        parentes, quae dirimi nisi detestabili scelere non potest; deinde cum similis sensus exstitit amoris, si
        aliquem
        nacti sumus cuius cum moribus et natura congruamus, quod in eo quasi lumen aliquod probitatis et
        virtutis </p>
    perspicere videamur.
</div>
{% endblock %}

{% block title %}[{{ parent() }}| A propos

{% endblock %}

