{% extends'/base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}
{% block body %}<h2 class="title">En cuisine les gourmands !</h2>
    <img id="imgfruits" src="{{ asset('img/Photos/freshFruits.jpg') }}" alt="Fruits">
    <div>
        <input type="search" placeholder="Ingrédient,...">
        <button>Rechercher la meilleure recette</button>
    </div>
{% endblock %}
