* {
    font-family: 'Krub', sans-serif;
    font-weight: 500;
    background-color: #ffffff;
    box-sizing: border-box;
    color: #30323D;
}

body {

    margin: 0px;
    padding: 0px;

}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

label {
    text-align: center
}

nav {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
    width: 90%;
    padding: 10px;
}

input, textarea {
    display: block;
    box-sizing: border-box;
    border: 1px solid #94ECD2;
    min-width: 25%;
    max-width: 90%;
    width: 250px;
    left: 50%;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    font-size: 14px;
    color: #30323D;
    transition-duration: 0.25s;
}

input:hover, textarea:hover {
    background-color: #94ECD2;
    opacity: 30%;
    color: #3a444f;
}

input:focus, textarea:focus {

    transform: scale(1.10);
    outline: none;
    transition-duration: 0.25s;


}

button {
    display: block;
    border: 1px solid #94ECD2;
    min-width: 20%;
    max-width: 90%;
    width: 250px;
    left: 50%;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
}

button:hover {
    background-color: #e7e7e7;
}

button:active {
    outline: none;
    transform: scale(1.05);
    transition-duration: 0.25s;
}

.title {
    text-align: center;
    color: #94ECD2;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    margin-top: -90px;

}


#logo {
    width: 200px;
    height: 200px;
    margin-left: -75px;
    margin-top: -75px;
}

.logo:hover {
    transition-duration: 0.25s;
    transform: scale(0.98);
}

.survol h1 {
    text-transform: uppercase;
    color: #e0ae77;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

.formContainer {
    margin-top: 60px;
    text-align: center;
}

.container {
    /*width: 90%;*/
    margin-top: 100px;
    /*margin-left: 20px;*/
    /*margin-right: 10px;*/
}

#aPropos {
    width: 95%;
    margin-top: 100px;
    margin-left: 35px;
    margin-right: 200px;
    text-align: justify;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left
}

nav ul li .survol {
    text-decoration: none;
    color: #3a444f;
    position: relative;
    display: inline-block;
}

.survol::before {
    content: attr(data-text);
    color: #94ECD2;
    position: absolute;
    left: 0;
    top: 0%;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
    /*border-bottom: 2px solid #FEC0AA;*/

}

a:hover::before {
    width: 100%;
}

@media (max-width: 700px) {
    nav {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        padding: 10px 0;
    }
}

.flash {
    padding: 20px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 10px;
    color: #FEC0AA;
}

#imgfruits {
    display: block;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*margin-bottom: 2%;*/
    /*margin-top: 180px;*/
    /*padding-top: 2%;*/
}

nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index: 99999;
    display: inherit;
    position: absolute;
    margin-top: 20px;
    margin-left: -144px;
}

nav ul li ul {
    display: none;
}

/* Rend le menu déroulant caché par défaut */

main, footer {
    display: block
}
